.cargo/
.codex
dist/
docs/todo.md
*.pdb
**/*.rs.bk
debug/
target/
vendor/
vendor.tar
make_screenshot.py
debian/*
!debian/changelog
!debian/control
!debian/copyright
!debian/install
!debian/rules
!debian/source