[Desktop Entry]
Name=YapCap
Comment=Provider usage panel applet for COSMIC
Type=Application
Icon=com.topi.YapCap
Exec=yapcap
Terminal=false
StartupNotify=true
Categories=System;Monitor;X-COSMIC;
Keywords=COSMIC;Usage;Quota;Applet;
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
MimeType=
